<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NRA_ABIS_Service_Test_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INRA_ABIS_Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49950/Services/NRA_ABIS_Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INRA_ABIS_Service"
                contract="NRA_ABIS_Service.INRA_ABIS_Service" name="BasicHttpBinding_INRA_ABIS_Service" />
        </client>
    </system.serviceModel>
    <userSettings>
        <NRA_ABIS_Service_Test_Application.Properties.Settings>
            <setting name="endpoint_url" serializeAs="String">
                <value>http://localhost:49950/Services/NRA_ABIS_Service.svc</value>
            </setting>
            <setting name="last_endpoint" serializeAs="String">
                <value />
            </setting>
        </NRA_ABIS_Service_Test_Application.Properties.Settings>
    </userSettings>
</configuration>